/* Variables */

:root {
  /* Colors */
  --clr-main-bg: hsl(7, 68%, 85%);
  --clr-dark-main-bg: hsl(0, 0%, 6%);

  --clr-recipe-bg: hsl(0, 0%, 99%);
  --clr-dark-recipe-bg: hsl(0, 0%, 17%);

  --clr-description-bg: hsl(50, 86%, 97%);
  --clr-dark-description-bg: hsl(0, 0%, 31%);

  --clr-description-border: hsl(0, 0%, 31%);

  --clr-header-bg: hsla(51, 68%, 85%, 0.5);
  --clr-dark-header-bg: hsla(90, 0%, 17%, 0.5);

  --clr-footer-bg: hsla(7, 68%, 85%, 0.5);
  --clr-dark-footer-bg: hsla(0, 0%, 17%, 0.5);

  --clr-title: hsl(300, 24%, 39%);
  --clr-dark-title: hsl(302, 32%, 58%);

  --clr-dark-text: hsl(0, 0%, 0%);
  --clr-light-text: hsl(0, 0%, 99%);

  /* Light and dark mode colors */
  --clr-ld-main-bg: light-dark(var(--clr-main-bg), var(--clr-dark-main-bg));
  --clr-ld-text: light-dark(var(--clr-dark-text), var(--clr-light-text));
  --clr-ld-title: light-dark(var(--clr-title), var(--clr-dark-title));
  --clr-ld-recipe-bg: light-dark(
    var(--clr-recipe-bg),
    var(--clr-dark-recipe-bg)
  );
  --clr-ld-description-bg: light-dark(
    var(--clr-description-bg),
    var(--clr-dark-description-bg)
  );
  --clr-ld-header-bg: light-dark(
    var(--clr-header-bg),
    var(--clr-dark-header-bg)
  );
  --clr-ld-footer-bg: light-dark(
    var(--clr-footer-bg),
    var(--clr-dark-footer-bg)
  );

  /* Fonts */
  --font-primary: "Poppins", sans serif;
  --font-heading: "Autour One", display;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 3rem;
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-gutter: stable;
}

/* Keeps modal in middle remove all other default margins*/
*:not(dialog) {
  margin: 0;
}

html:has(#mode-switcher #light:checked) {
  color-scheme: light;
}
html:has(#mode-switcher #dark:checked) {
  color-scheme: dark;

  .logo {
    filter: invert(89%) sepia(99%) saturate(20%) hue-rotate(62deg)
      brightness(106%) contrast(100%);
  }
}

body {
  min-height: 100svh;
  font-family: var(--font-primary);
  background-color: var(--clr-ld-main-bg);
  color: var(--clr-ld-text);
}

main {
  padding-bottom: 4rem;
}

footer {
  width: 100%;
  background-color: var(--clr-ld-footer-bg);
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
}

img,
picture,
svg,
video {
  object-fit: cover;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}

h1 {
  color: var(--clr-ld-title);
  font-size: 1.75rem;
}

ul,
ol {
  padding-left: var(--spacing-large);
}

li {
  line-height: 2rem;
}

a {
  padding: var(--spacing-small);
}

.main-header {
  position: sticky;
  top: 0;
  background-color: var(--clr-ld-header-bg);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--clr-ld-recipe-bg);
}

.logo {
  padding: var(--spacing-small);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  display: none;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--clr-ld-text);
  margin-left: var(--spacing-small);
}

.logo-link:hover,
.logo-link:focus {
  border-bottom: 1px solid var(--clr-dark-title);
}

.header-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-medium);
  padding-inline: var(--spacing-small);
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;

  justify-content: space-around;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-ld-text);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-small);
  flex: 1 0 auto;
  text-align: center;

  &:hover,
  &:focus {
    color: var(--clr-dark-title);
    border-bottom: 1px solid var(--clr-dark-title);
  }
}

.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: 0;
  width: auto;
  height: auto;
  background: white;
  color: black;
  padding: var(--spacing-small);
  margin: var(--spacing-medium);
}

.recipe-card {
  max-width: 1280px;
  border-radius: 0 0 2rem 2rem;
  margin: auto;
  background-color: var(--clr-ld-recipe-bg);
  border-radius: 2rem;
  margin-top: 1rem;
}

.recipe-info {
  padding: 3rem 1rem 4rem 1rem;
  font-weight: 400;
  letter-spacing: 0%;
}

.hero-section {
  height: 30dvh;
}

.main-image {
  height: 100%;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.description {
  background-color: var(--clr-ld-description-bg);
  padding: var(--spacing-medium);
  border: 1px solid var(--clr-description-border);
  border-radius: 2rem 2rem 2rem 0;
}

.serving-images {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.serving-images > img {
  height: 30rem;
  width: 100%;
  border-radius: 1rem;
}

.mode-switcher {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--clr-description-border); */
  border-radius: 0.5rem;
  padding-inline: var(--spacing-large);
  background-color: var(--clr-ld-main-bg);
}

@media (min-width: 740px) {
  .recipe-text {
    padding: 3rem 3rem 4rem 3rem;
  }

  .serving-images {
    flex-direction: row;
  }

  .header-container {
    flex-direction: row;
  }

  .logo-text {
    display: block;
  }
}
