/* Variables */

:root {
  /* Colors */
  --clr-main-bg: hsla(277, 100%, 20%, 0.3);
  --clr-recipe-bg: hsla(0, 0%, 99%, 1);
  --clr-description-bg: hsl(50, 86%, 97%);
  --clr-description-border: hsl(0, 0%, 31%);
  --clr-title: hsl(277, 100%, 20%);

  /* Fonts */
  --font-primary: "Poppins", sans serif;
  --font-heading: "Autour One", display;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 3rem;
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-gutter: stable;
}

/* Kepp modal in middle remove all other default margins*/
*:not(dialog) {
  margin: 0;
}

/* Set color scheme */
html {
  color-scheme: dark light;
}

body {
  min-height: 100svh;
  padding-bottom: 4rem;
  font-family: var(--font-primary);
  background-color: var(--clr-main-bg);
}

img,
picture,
svg,
video {
  object-fit: cover;
  /* 
  border: 1px solid hsla(0, 0%, 99%, 1);
  */
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-small);
}
h1 {
  color: var(--clr-title);

  font-size: 1.75rem;
}

ul,
ol {
  padding-left: var(--spacing-large);
}

li {
  line-height: 2rem;
}

.recipeCard {
  max-width: 1280px;
  border-radius: 0 0 2rem 2rem;
  margin: auto;
  background-color: var(--clr-recipe-bg);
}

.recipeText {
  padding: 3rem 1rem 4rem 1rem;
  font-weight: 400;
  letter-spacing: 0%;
}

.description {
  background-color: var(--clr-description-bg);
  padding: var(--spacing-medium);
  border: 1px solid var(--clr-description-border);
  border-radius: 2rem 2rem 2rem 0;
}

.heroSection {
  height: 30dvh;
}

.mainImage {
  height: 100%;
  width: 100%;
}

.servingImages {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}
.servingImages > img {
  height: 30rem;
  width: 100%;
}

@media (min-width: 740px) {
  .recipeText {
    padding: 3rem 3rem 4rem 3rem;
  }

  .servingImages {
    flex-direction: row;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-main-bg: hsla(277, 100%, 20%, 0.3);
    --clr-recipe-bg: rgb(55, 55, 55);
    --clr-description-bg: hsl(0, 0%, 31%);
    --clr-description-border: hsl(0, 0%, 0%);
    --clr-title: hsl(277, 63%, 65%);
  }
}
